savedpic/
bots/
config/
config/*
java/
logs/
config.json
mcl-installer-1.0.7-linux-amd64
mcl.cmdgit
t544-enc-windows-x64.dll
.idea/
saved_image/
modules/5000zhao/test1.png
modules/5000zhao/xibao.jpg
mcl
mcl.jar
test/
mcl-installer-ae9f946-windows-x86.exe
botconfig.backup.json
mcl.cmd
data/top.mrxiaom.qrlogin/
*/__pycache__/
LICENSE
log.txt
test.py
botconfig.json
mcl-installer-ae9f946-linux-amd64
.conda/